<div class="container">
  <h2>Productos</h2>

  <div class="product-container">
    {{#each response.payload}}
    <div class="product-card">
      <form action="/api/carts/:cid/products/{{_id}}" method="post" id="form">
        <p >{{category}}</p>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>{{price}}</p>
        <p>{{stock}}</p>
        <p>{{_id}}</p>
        <input type="hidden" name="quantity" value="1">
        <button type="submit" id="submitBtn">Agregar al carrito</button>
      </form>
    </div>
    {{/each}}
  </div>

  <div class="pagination">
    {{#if response.hasPrevPage}}
    <button><a href="/products?page={{response.prevPage}}">Anterior</a></button>
    {{/if}}

    {{#if response.hasNextPage}}
    <button><a href="/products?page={{response.nextPage}}">Siguiente</a></button>
    {{/if}}
    <span>Página {{response.page}} de {{response.totalPages}}</span>
  </div>

  <button><a href="http://localhost:8080/">Back to Home</a></button>
</div>

</div>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/js/products.js"></script>